body {
	font-family:Helvetica;
	line-height:100%;
	margin:0px 0px;
	padding:0px;
	text-align:left;
	background-color:#349859;
}
h1, h2, h3, h4, h5, h6 {
	margin:0px 0px;
	color:#FF0000;
	text-align:center;
}
p {
	margin:0px 0px;
	text-align:left;
}
img {
	padding:100px;
	border:100px;
	background-color:#000000;
	display: block;
	margin: 0 auto;
}
a:link, a:visited {
	font-weight:normal;
	color:#7094FF;
	background-color:#333;
	width:100px;
	text-align:center;
	padding:0px;
	text-decoration:none;
}
a:hover {
	color:#FF0000;
}
a:active {
	color:#FFFFFF;
}
header {
	height:0px;
	background:#000000;
	margin:0px;
	width:100%;
	position:fixed;
	padding:0px;
	top:0px;
	left:0px;
}

/*added stuff*/
/*.testDiv {
	border: 0px solid blue;
}*/
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}
.flex-container > * {
    padding: 10px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}
/*header shit*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}
li a:hover {
    background-color: #333;
}